<!DOCTYPE html>

<html lang="en", dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
<h1>Movie recommender</h1>
<form action="/recommender">
<p>Please rate the following movies:</p>
  Pulp Fiction:
  <input type="text" name="Pulp Fiction (1994)" placeholder="0.5 to 5.0"><br>
  Interstellar:
  <input type="text" name="Interstellar (2014)" placeholder="0.5 to 5.0"><br>
  Fight Club:  
  <input type="text" name="Fight Club (1999)" placeholder="0.5 to 5.0"><br>
  Dead Poets Society:
  <input type="text" name="Dead Poets Society (1989)" placeholder="0.5 to 5.0"><br>
  Titanic:
  <input type="text" name="Titanic (1997)" placeholder="0.5 to 5.0"><br>
  <br>
  <input type="submit">
  <br>
  <br>

</form>
</body>

</html>